
.container-introduction {
  padding: 20px;
  text-align: center;

  h4 {
    padding: 20px 0;
  }

  h2 {
    padding: 20px 0;
    border-bottom: 1px dashed black;
  }

  p {
    padding: 20px 0;
  }

  img {
    width: 200px;
    height: 200px;
  }

}