.btn {
    padding: 10px 40px;
    background: white;
    border: 2px solid #71CDEB;
    border-radius: 8px;
    font-size: 12px;
    color: #71CDEB;
    height: 48px;
    cursor: pointer;
  }
  

  .btn-link {
    text-decoration: none;
    color: black;
  }